services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: simpleinventory-backend
    ports:
      - "6500:3000"
    restart: unless-stopped
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: simpleinventory-frontend
    ports:
      - "6501:80"
    depends_on:
      - backend
    restart: unless-stopped
    env_file:
      - ./frontend/.env
